@model IEnumerable<CuaHangDienThoai.Models.ChiTietHoaDon>

@{
    ViewData["Title"] = "Index";
}

<h1>Danh sách IMEI thuộc các hóa đơn</h1>
<table class="table">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(model => model.MaHD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaDT)
            </th>
            <th>
                IMEI
            </th>
            <th></th>
        </tr>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MaHD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaDT)
            </td>
            <td>
                @foreach (var im in item.IMEI_DienThoais.Where(im => im.MaHD == item.MaHD))
                {
                <label class="form-group">@Html.DisplayFor(modelItem => im.IMEI)</label><br />
                }
            </td>
            <td>
                @{var id= item.MaHD.ToString() + item.MaDT.ToString();}
                <a asp-action="Edit" asp-route-id=@id>Edit</a>
</td>

</tr>
}
</table>
