@model CuaHangDienThoai.Models.View.HoaDonViewChiTietHoaDon

@{
    ViewData["Title"] = "Duyện hóa đơn";
}
@{
    var message = TempData["message"];
}
<br />
<h2 class="text-info">Duyệt hóa đơn</h2>
<form method="post" asp-action="Duyet">
    <input type="hidden" asp-for="HoaDons.MaHD" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="p-4 border rounded row">
        <div class="col-5">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="HoaDons.MaHD"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="HoaDons.MaHD" readonly class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        @if (Model.HoaDons.GioiTinh == "Nam")
                        {
                            <label>Anh</label>
                        }
                        else
                        {
                            <label>Ch</label>
                        }
                    </div>
                    <div class="col-8">
                        <input asp-for="HoaDons.TenKH" readonly class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="HoaDons.SoDT"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="HoaDons.SoDT" readonly class="form-control" />
                    </div>

                </div>

            </div>
        </div>
        <div class="col-2">

        </div>
        <div class="col-5">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="HoaDons.TongThanhToan"></label>
                    </div>
                    <div class="col-8">
                        <input type="number" asp-for="HoaDons.TongThanhToan" readonly class="form-control" />
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="HoaDons.NgayLapHD"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="HoaDons.NgayLapHD" readonly class="form-control"/>
                    </div>

                </div>
            </div>
        </div>
        <br />

        <h2>Chi tiết</h2>
            <table class="table table-striped border">
                <tr class="table-info">
                    <th>
                        Mã điện thoại
                    </th>
                    <th>
                        Tên mẫu điện thoại
                    </th>
                    <th>
                        Màu
                    </th>
                    <th>
                        Ram-Rom
                    </th>
                    <th>
                        Số lượng
                    </th>
                    <th>
                        Giá
                    </th>
                    <th>
                        Tổng giá
                    </th>
                    <td>
                        Nhập IMEI
                    </td>
                </tr>
                @foreach (var item in Model.ChiTietHoaDons)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(m => item.MaDT)
                        </td>
                        <td>
                            <a class="nav-link" asp-area="Admin" asp-controller="DienThoais" asp-action="Index" asp-route-searchName="@item.DienThoai.ModelDienThoai.TenModel">@item.DienThoai.ModelDienThoai.TenModel</a>
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.DienThoai.Mau)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.DienThoai.ModelDienThoai.Ram)-@Html.DisplayFor(m => item.DienThoai.ModelDienThoai.Rom)
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.SoLuong)
                        </td>
                        <td>
                            <label class="form-text">@(item.DienThoai.Gia - item.DienThoai.GiamGia)</label>
                        </td>
                        <td>
                            @Html.DisplayFor(m => item.TongGia)
                        </td>
                        <td>
                            @for (int i = 0; i < item.SoLuong; i++)
                            {
                                var name = item.MaDT.ToString() + i.ToString();
                                if (message != null)
                                {
                                    var value = TempData[name];
                                    if (value.Equals("Trùng IMEI vui lòng thử lại"))
                                    {
                                        <label class="form-group text-danger">@value</label><br />
                                        <input name=@name  maxlength="50" class="form-group" required />
                                    }
                                    else
                                    {
                                        <input name=@name  maxlength="50" class="form-group" value=@value required />
                                    }
                                }
                                else
                                {
                                    <input name=@name  maxlength="50" class="form-group" required />
                                }

                            }
                        </td>
                    </tr>
                }
            </table>
           
        <br />
        <div class="form-group">
            <input type="submit" class="btn btn-primary" asp-route-MaHD="@Model.HoaDons.MaHD" value="Xác nhận" />
            <a asp-action="Index" class="btn btn-success">Trở về</a>
        </div>
    </div>
</form>

