@model CuaHangDienThoai.Models.View.CTHoaDonViewIMEI

@{
    ViewData["Title"] = "Chỉnh sửa";
}
@{
    var message = TempData["message"];
}
<h1>Chi tiết</h1>
<form method="post" asp-action="Edit">
    <table class="table">
        <tr class="table-info">
            <th>
                @Html.DisplayNameFor(model => model.chiTietHoaDon.MaHD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.chiTietHoaDon.MaDT)
            </th>
            <th>
                IMEI
            </th>
            <th></th>
        </tr>
        <tr>
            <td>
                <lable>@Model.chiTietHoaDon.MaHD</lable>
            </td>
            <td>
                <lable>@Model.chiTietHoaDon.MaDT</lable>
            </td>
            <td>
                @for (int i = 0; i < Model.chiTietHoaDon.SoLuong; i++)
                {
                    var name = Model.chiTietHoaDon.MaDT.ToString() + i.ToString();
                    if (message != null)
                    {
                        var value = TempData[name];
                        if (value.Equals("Trùng IMEI vui lòng thử lại"))
                        {
                            <label class="form-group text-danger">@value</label>
                            <br />
                            <input name=@name class="form-group" required />
                            <br />
                        }
                        else
                        {
                            <input name=@name class="form-group" value=@value required /><br />
                        }
                    }
                    else
                    {
                        var value = TempData[name];
                        if (value != null)
                        {
                            <input name=@name class="form-group" value=@value required /><br />
                        }
                        else
                        {
                            <input name=@name class="form-group" required /><br />
                        }

                    }
                }
            </td>


        </tr>
    </table>
    @{var id = Model.chiTietHoaDon.MaHD.ToString() + Model.chiTietHoaDon.MaDT.ToString();
        TempData.Clear();}
    <input type="submit" class="text-success" asp-route-id=@id value="Sửa" />
</form>