@model CuaHangDienThoai.Models.View.DienThoaisPaging
@{
    ViewData["Title"] = "Index";
}

<br />
<form method="get">
    <h2 class="text-info" style="text-align:center">Danh sách điện thoại</h2>
    <a asp-action="Create" class="btn-btn-info"><i class="fas fa-plus"></i>&nbsp;Thêm điện thoại</a>
    <br />
    <div>
        <div style="height:150px; background-color:aliceblue" class="container">
            @* We will add search criteria *@
            <div class="col-12">
                <div class="row" style="padding-top:10px;">
                    <div class="col-2">
                        Tên mẫu
                    </div>
                    <div class="col-3">
                        @Html.Editor("searchName", new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-2">

                    </div>
                    <div class="col-2">
                        Màu
                    </div>
                    <div class="col-3">
                        @Html.Editor("searchColor", new { htmlAttributes = new { @class = "form-control" } })
                    </div>

                </div>

                <div class="row" style="padding-top:10px;">
                    <div class="col-2">
                    </div>
                    <div class="col-3">
                    </div>
                    <div class="col-2">

                    </div>
                    <div class="col-2">
                    </div>
                    <div class="col-3">
                        <button type="submit" name="submit" value="Search" class="btn btn-primary form-control">
                            <i class="fas fa-search"></i> Search
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <table class="table table-striped border">
            <tr class="table-info">
                <th>
                    @Html.DisplayNameFor(m => m.DienThoais.FirstOrDefault().ModelDienThoai.TenModel)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.DienThoais.FirstOrDefault().Mau)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.DienThoais.FirstOrDefault().Gia)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.DienThoais.FirstOrDefault().GiamGia)
                </th>
                <th>
                    @Html.DisplayNameFor(m => m.DienThoais.FirstOrDefault().SoLuong)
                </th>

                <th></th>
                <th></th>
            </tr>
            @foreach (var item in Model.DienThoais)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => item.ModelDienThoai.TenModel)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Mau)
                    </td>

                    <td>
                        @Html.DisplayFor(m => item.Gia)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.GiamGia)
                    </td>

                    <td>
                        @Html.DisplayFor(m => item.SoLuong)
                    </td>
                    <td style="width:150px">
                        <div class="btn-group" role="group">
                            <a type="button" class="btn btn-primary" asp-action="Edit" asp-route-MaDT="@item.MaDT">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a type="button" class="btn btn-success" asp-action="Details" asp-route-MaDT="@item.MaDT">
                                <i class="far fa-list-alt"></i>
                            </a>
                            <a type="button" class="btn btn-danger" asp-action="Delete" asp-route-MaDT="@item.MaDT">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </table>
        <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
             page-class="btn border" page-class-normal="btn btn-default active"
             page-class-selected="btn btn-primary active" class="btn-group m-1"></div>
    </div>
</form>